body{
    justify-content: center;
    align-items: center;
    background: url('calc.jpg');
    background-size: cover;
}
h1{
    background-color: rgb(6, 5, 5);
    background-image: linear-gradient(grey,black,grey);
}
button{
    height:65px;
    width:65px;
    background-image: linear-gradient(black,grey,black);
    border-radius: 10px;
    border-color: white;

}
button:hover{
    background: rgb(215, 143, 191);
    cursor: pointer;
}
input{
    height:55px;
    width:280px;
    background-image: linear-gradient(grey,black,grey);
    color: white;
    border-radius: 20px;
    border-color: gold;
    font-size: 20px;
}
input:hover{
    background:  rgb(215, 143, 191);
    cursor: pointer;
}